



.page-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: montserrat,sans-serif;
    background-image: linear-gradient(to bottom right, #A1BE95, #E2DFA2);
}

h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    color: black;
    font-size: 320px;
    font-weight: 900;

    animation: fadein 0.8s ease-out 1.5s forwards;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.content-404{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5{
    color: black;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 100px;

    animation: slidedown 1s ease-out 0.5 forwards;
    opacity: 0;
}

@keyframes slidedown{
    0%{
        transform: translateY(-200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.buttom-404{
    display: inline-block;
    padding: 20px 40px;
    background-color: #fff;
    color: #222;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    border-radius: 999px;
    font-size: 28px;
    transition: 0.4s ease-out;

    animation: slideup 1s ease-out 0.5 forwards;
    transform: translateY(200px);
    opacity: 0;
   
}

.buttom-404:hover{
    color: #ED5752;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.3);

}

@keyframes slideup {
    0%{
        transform: translateY(200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

